/*font-family*/
p {
	font-family: Arial;
}

h1 {
	font-family: Georgia;
}

/*font-size*/

body {
	font-size: 10px;
}

/*make h1 5X larger than body*/
h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

/*since span is located inside paragraph, span font size will be 2X as large
as parent element (<p>)'s font size*/
span {
	font-size: 2.0em;
}

/*font-weight*/

p {
	font-weight: bold;
}

/*to put back to normal

p {
	font-weight: bold;
}
*/

/*line-height*/

p {
	line-height: 1.5; 
}

/*text-align*/

h1 {
	text-align: right;
}

p {
	text-align: center;
}

/* text-decoration */
p {
	text-decoration: underline;
}

h1 {
	text-decoration: line-through;
}