/*Element*/
li {

}

/*class*/
.hello {

}

/*id*/
#name {

}

/*Star*/
/*selects every element on the page*/
/* not commonly used */

* {
	border: 1px solid lightgrey;
}

/*Descendent selector*/
/* selects all specified children of element */

/* example: select all anchor tags that are within an li */

li a {
	color: red;
}

/*Adjacent selector*/
/* select elements that come after other elements */
/* so NOT nested inside but next to (sibling)*/

/* example: select all ul that come after h4 */

h4 + ul {
	border: 4px solid red;
}

/*Attribute Selector*/
/* a way to select elements based off of any attribute */

/* example: select all elements with href="google.com" */
/* e.g. all inputs of a particular type (e.g. all checkboxes, password fields)*/
/*
selects inputs of type text
input[type="text"] {
	
}

*/

a[href="http://www.google.com"] {
	background: blue;
}


/*nth of type*/
/* selct nth of a specific element */
/* e.g. 5th div*/
ul:nth-of-type(3) {
	background: purple;
}

/*
of every group of li's, selects 3rd one
li:nth-of-type(3) {
	background: purple;
}
*/

/*
of every group of li's, selects every even one
li:nth-of-type(even) {
	background: purple;
}
*/


